flask==1.1.2
Flask-Cors==3.0.8
Flask-HTTPAuth==4.0.0
gunicorn==20.0.4
jinja2==2.11.2
prometheus-flask-exporter==0.13.0
python-slugify==4.0.0
oauthlib
requests_oauthlib

pytest==5.4.2
pytest-watch==4.2.0
flake8==3.8.2
pylint
mypy
black
ipdb
requests-mock
